{{ define "title" }}Contact{{ end }}

{{ define "content" }}

<h1>Recipes List</h1>
<div>
    <form method="post" action="/deleterecipes">
        <ul>
            {{ range .Recipes }}
            <li>
                <div>
                    <input name="check-{{.Id}}" id="check-{{.Id}}" type="checkbox"/>
                    <a href="/recipes/{{.Id}}">{{ .Name }}</a>
                </div>
            </li>
            {{ end }}
        </ul>
        <input type="submit" value="delete selected"/>
    </form>
</div>

{{ end }}