{{ define "title" }}Contact{{ end }}

{{ define "content" }}

<script type="text/javascript">
    function toggleAll() {
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });
    }
</script>

<div class="row">
    <div class="col-sm-3">
        <h2>Categories </h2>
        <ul class="list-unstyled">
            {{ range .Categories}}
            <li><a href="/categories/{{ .Id }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>

    <div class="col-sm-9">
        <h2>Recipes</h2>
        <form method="post" action="/deleterecipes">
            <ul class="list-unstyled">
                {{ range .Recipes }}
                <li>
                    <div>
                        <input name="check-{{.Id}}" id="check-{{.Id}}" type="checkbox" class="toggleCheck"/>
                        <a href="/recipes/{{.Id}}">{{ .Name }}</a>
                    </div>
                </li>
                {{ end }}
            </ul>
            <select name="catId">
                {{ range .Categories }}
                <option value="{{ .Id }}">{{ .Name }}</option>
                {{ end }}
            </select>
            <button name="changeCat">Change</button>
            <button name="delete" value="delete selected">Delete</button>
            <label><input type="checkbox" id="checkAll" onclick="toggleAll()"/> Check all</label>
        </form>
    </div>
</div>

{{ end }}